h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #324f43;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40 px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    /* come in single line */
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /* top-bottom  left-right */
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    /*Horizontal Vertical blur*/
    z-index: 999;
    /* The z-index property is used to displace elements on the z-axis i.e in or out of the screen*/
    position: sticky;
    top: 0;
    left: 0;


}

img {
    border-radius: 50%;
    padding-left: 20 px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    /* remove the bullet */
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    /* remove the line from text */
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.4s ease-in;
}

#navbar li a:hover,
/* Is used to select elements when you mouse over them*/
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 20%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url("img/OIP.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 15% right 0;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero h4 {
    padding: bottom 3px;
}

#hero h2 {
    padding: bottom 0px;
}

#hero h1 {
    padding: bottom -3px;
    color: #088178;
}

#hero button {
    background-image: url("img/button.jpg");
    background-color: transparent;
    color: #088178;
    border: 0.5px solid #e7dada;
    padding: 14px 80px 14px 65px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    /* cursor property specify the mouse cursor to be displayed when pointing over the element.*/
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    width: 110px;
    height: 110px;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 0.5px solid #e7dada;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(172, 170, 203, 0.8);
}

feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #f4c1cc;

}

#feature .fe-box:nth-child(2) h6 {
    /* The :nth-child(n) selector matches every element that is the nth child of its parent.*/
    background-color: #c6c7da;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #70a3a1;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #aa9aa3;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #00ff9d;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #00e1ff;
}

#product1 {
    text-align: center;

}
#product1 .pro-container{
    display:flex;
    justify-content: space-between;
    padding-top:20px; 
    flex-wrap: wrap; /* The flex-wrap property specifies whether the flexible items should wrap or not.*/
  
}

#product1 .pro {
    padding: 10px 12px;
    width: 100px;
    height: 380px;
    min-width: 250px;
    border: 1px solid #cce7d0;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    background-size: cover;
    transition: 0.3s ease;
    position: relative;
}
    #product1.pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro .dis {
    text-align: start;
    padding: 5px 0;

}

#product1 .pro .dis span {
    color: #606063;

}

#product1 .pro .dis h5 {

    padding-top: 0;
    color: #1a1a1a;
    font-size: 14px;
    
}

#product1 .pro .dis h4 {
  
    padding-top: -19px;
    font-size: 20px;
    font-weight: 700;
    color: #00e1ff;

}
#product1 .pro .cart{
    width:31px;
    height:31px;
    line-height: 30px;
    border-radius:40px;
    background-color: #e8f6ea;
    font-weight: 100;
    color:#00e1ff;
    border:5px solid #cce7d0;
    position:absolute;
    bottom: 30px;
    top:333px;
   right: 170px;

}